@font-face {
  font-family: Vazirmatn;
  src: url(/wordy-music-player/fonts/Vazirmatn/Vazirmatn-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Vazirmatn;
  src: url(/wordy-music-player/fonts/Vazirmatn/Vazirmatn-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: IranNastaliq;
  src: url(/wordy-music-player/fonts/IranNastaliq/IranNastaliq.ttf);
}